@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import "/sass/layout/villesearch.css";
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.header-page-one {
  font-family: "Shrikhand", sans-serif;
  text-align: left;
  box-shadow: 0px 4px 5px 4px lightgrey;
  padding: 6px;
  position: relative;
}
.header-page-one h1 {
  padding-left: 2rem;
}
@media (max-width: 1200px) {
  .header-page-one {
    text-align: center;
  }
}

main .rechercheville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(235, 230, 230);
}

.explore {
  border: solid 1px transparent;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #f6f6f6;
  /*border: solid 1px transparent;*/
}
.explore h2 {
  padding-top: 30px;
}
.explore p {
  padding-left: 30px;
  padding-right: 30px;
}
.explore button {
  margin-top: 1.8rem;
  margin-bottom: 3rem;
  padding: 19px;
  color: white;
  text-align: center;
  font-weight: 450;
  font-size: 1.4rem;
  border: none;
  background-image: linear-gradient(45deg, #9356DC, #FF79DA);
  border-radius: 30px;
  transition: transform 200ms; /*zoom transition de 200ms pour effet*/
  /*box-shadow: 10px 5px 5px gray;*/
  box-shadow: 0px 4px 5px 4px lightgrey;
}
.explore button:hover {
  transform: scale(1.03); /*zoom de la souris*/
}

.fonctionnement h2 {
  font-size: 30px;
  padding-top: 2rem;
  padding-left: 30px;
  padding-bottom: 1.8rem;
}
.fonctionnement ol {
  font-size: 18px;
  font-weight: bold;
  counter-reset: liste-critere; /*conteur*/
  display: flex;
  padding-left: 30px;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 64px;
  gap: 2rem;
}
@media (max-width: 1200px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 33px;
  flex-grow: 1; /* prendre toute la place*/
  border-radius: 1.5rem;
  padding-left: 4rem;
  box-shadow: 0px 4px 5px 4px lightgrey;
}
.fonctionnement li::before {
  content: counter(liste-critere);
  counter-increment: liste-critere; /* appel du conteur*/
  color: #f6f6f6;
  background-color: #9356DC;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 50%;
  left: -1rem;
  transform: translateY(50%);
}
.fonctionnement li:hover {
  transform: scale(1.02);
}
.fonctionnement li:hover i.fas {
  color: #9356DC;
}
.fonctionnement li i.fas {
  color: gray;
  margin-right: 2rem;
}

.menu {
  background-color: #f6f6f6;
  padding: 2rem;
  padding-bottom: 4rem;
}
.menu h2 {
  font-size: 30px;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu .menu__carte {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f6f6f6;
  /*flex-wrap: wrap;/*va a la ligne*/
  gap: 2rem;
}
@media (max-width: 1200px) {
  .menu .menu__carte {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menu .menu__carte .nouveau {
  position: relative;
}
.menu .menu__carte .nouveau::before {
  content: "Nouveau";
  position: absolute;
  color: #1b6150;
  border-radius: 5px;
  background-color: #99E2D0;
  width: 7rem;
  height: 3rem;
  /*size: 50%;*/
  display: grid; /*centrer horizontal et vertical*/
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menu .carte {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 4px 5px 4px lightgrey;
}
.menu .image__carte {
  height: 18rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  /*background-image: url(../OhMyFoodImage/resto-1.jpg);*/
}
.menu .image__carte-1 {
  background-image: url(../OhMyFoodImage/resto-1.jpg);
}
.menu .image__carte-2 {
  background-image: url(../OhMyFoodImage/resto-2.jpg);
}
.menu .image__carte-3 {
  background-image: url(../OhMyFoodImage/resto-3.jpg);
}
.menu .image__carte-4 {
  background-image: url(../OhMyFoodImage/resto-4.jpg);
}
.menu .description__image {
  margin-top: -30px;
  background-color: white;
  position: relative;
}
.menu .description__image p {
  font-size: 22px;
}
@media screen and (max-width: 400px) {
  .menu .description__image {
    display: flex;
    justify-content: space-between;
  }
}
.menu .description__image i {
  position: absolute;
  right: 0.8rem;
  top: 45%;
  transform: translateY(-50%);
}
.menu .description__image .fas {
  color: transparent;
  background-image: linear-gradient(45deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms;
}
.menu .description__image:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
.menu .txt-img {
  padding-left: 18px;
}

footer {
  background-color: #494747;
  padding-top: 28px;
  padding-left: 31px;
  padding-bottom: 28px;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-sherif";
}
footer p {
  padding: 0.2rem;
  font-size: 18px;
}
footer i {
  padding-right: 1rem;
}
footer a {
  color: white;
  text-decoration: none;
}

@-webkit-keyframes animation-card {
  0% {
    transform: translateY(50%);
    opacity: 0;
    transition: all 2s;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    transition: all 2s;
  }
}

@keyframes animation-card {
  0% {
    transform: translateY(50%);
    opacity: 0;
    transition: all 2s;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    transition: all 2s;
  }
}
@-webkit-keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.Header-secondes-page {
  font-family: "Shrikhand", sans-serif;
  position: relative;
  text-align: center;
}
.Header-secondes-page i {
  top: 5px;
  left: 28px;
  position: absolute;
  color: black;
}
.Header-secondes-page i:hover {
  transform: scale(1.03); /*zoom de la souris*/
}

.imageprincipal img {
  display: block;
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu-one {
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
  position: relative;
  border: solid 1px transparent;
}
@media screen and (max-width: 400px) {
  .menu-one {
    display: flex;
    justify-content: space-between;
  }
}
.menu-one h2 {
  padding-left: 1rem;
  padding-top: 2rem;
  font-family: "Shrikhand", "sans-serif";
  font-size: 2rem;
  padding-right: 1rem;
}
.menu-one i {
  padding-top: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  /*padding-right: 2rem;*/
  transform: translateY(-50%);
}
.menu-one .fas {
  color: transparent;
  background-image: linear-gradient(45deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms;
}
.menu-one:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.main_typemenu {
  padding: 2rem;
  background-color: #f6f6f6;
}
.main_typemenu h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.main_typemenu h3::after {
  position: absolute;
  top: 1.6rem;
  left: 0rem;
  content: "";
  height: 0.25rem;
  width: 3.25rem;
  background-color: #99E2D0;
}
.main_typemenu .carte_x9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .main_typemenu .carte_x9 {
    display: flex;
    flex-direction: column;
  }
}
.main_typemenu .carte_x9 .typemenu .Card_body2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main_typemenu .carte_x9 .typemenu .card_2 {
  /*******************animation pour que les cartes apparaissent a des temps differement decaller*************************/
  /*****************************************************/
  cursor: pointer;
  padding-left: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  color: black;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px lightgray;
  display: flex;
  justify-content: space-between;
  -webkit-animation: animation-card 1.5s;
          animation: animation-card 1.5s;
  /*justify-content: space-between;*/
}
.main_typemenu .carte_x9 .typemenu .card_2:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.main_typemenu .carte_x9 .typemenu .card_2:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.main_typemenu .carte_x9 .typemenu .card_2:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.main_typemenu .carte_x9 .typemenu .card_2:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.main_typemenu .carte_x9 .typemenu .card_2 .Card_prix {
  font-weight: 900; /*en gras*/
  padding: 1rem;
  display: flex;
}
.main_typemenu .carte_x9 .typemenu .card_2 .valide {
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  background-color: #99E2D0;
}
.main_typemenu .carte_x9 .typemenu .card_2 .valide .fas {
  background-color: white;
  display: grid;
  place-items: center;
  color: #99E2D0;
  aspect-ratio: 1/1;
  width: 2rem;
  border-radius: 50%;
}
.main_typemenu .carte_x9 .typemenu .card_2 .lotprice-val {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  margin-right: -4rem;
}
.main_typemenu .carte_x9 .typemenu .card_2:hover .lotprice-val {
  margin-right: 0;
  transition: all 1s;
}
.main_typemenu .carte_x9 .typemenu .card_2:hover .lotprice-val i {
  /*etat du i */
  -webkit-animation: tour-du-valide 1s ease-in-out;
          animation: tour-du-valide 1s ease-in-out; /* appel de l animation en changeant l etat du i*/
}
@-webkit-keyframes tour-du-valide {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes tour-du-valide {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes animation-card {
  0% {
    transform: translateY(50%);
    opacity: 0;
    transition: all 2s;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    transition: all 2s;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.page-rechargement {
  display: grid;
  place-items: center;
  position: fixed;
  /*top: 0;
  bottom: 0;
  right: 0;
  left: 0;*/
  inset: 0; /* a la palce des 4 position value*/
  z-index: 1; /*superposition de cette page au dessus des autres*/
  background-color: white;
  opacity: 0.7;
  -webkit-animation: loader 1s;
          animation: loader 1s; /*animation de 3 secondes*/
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /*pour que la page reste a son etat 
transform-origin: top; /* la page disparait en haut*/
}
.page-rechargement i {
  color: #9356DC;
}/*# sourceMappingURL=style.css.map */