@import"../utils/ombre.scss";

.explore
{
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;

    & button
    {
        margin-top: 10px;
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 1.5rem;
        border: none;
        background-image: linear-gradient(45deg, #9356DC, #FF79DA);
        border-radius: 20px;
       
        transition: transform 200ms; /*zoom transition de 200ms pour effet*/
         /*box-shadow: 10px 5px 5px gray;*/
        @include ombre-base;

        &:hover
        {
            transform: scale(1.03); /*zoom de la souris*/
        }
    }   
    
}

