@import"../utils/ombre.scss";
@import"../utils/zoom.scss";
@import"../utils/variable-couleurs.scss";
.fonctionnement
{
    h2
    {
        font-size: 25px;
        padding-top: 5rem;
        padding-left: 30px;
    }
    & ol
    {
        counter-reset: liste-critere;/*conteur*/
        display: flex;
        padding-left: 30px;
        padding-top: 0px;
        padding-right: 40px;
        padding-bottom: 40px;
        gap: 2rem;
        @media (max-width:1200px)
        {
            flex-direction: column;
        }
    }
    & li{
        position: relative;
        &::before/* before du conteur*/
        {
            content:counter(liste-critere);
            counter-increment: liste-critere;/* appel du conteur*/
            color: #f6f6f6;
            background-color: $couleur-primaire;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            display: grid;
            place-items: center;
            position: absolute;
            bottom:50%;
            left: -1rem;
            transform: translateY(50%);
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 40px;      
        flex-grow: 1; /* prendre toute la place*/
        border-radius: 1.5rem;     
        @include ombre-base;
        &:hover
        {
            @include zoom-leger;
            /*&:hover
            {
                cursor: pointer;
                color: $couleur-primaire;
            }*/
            & i.fas
            {
                color:$couleur-primaire;
                          
            }
        }
        & i.fas
        {
            color:gray;
            margin-right: 1rem;          
        }
    }       
}