footer{

    background-color: #353535;
    padding: 0 2rem;
    color: white;
    
    
    h2{
        font-family: "shrikhand" , "sans-sherif";
    }
    p{
        padding: 0.2rem;
    }
    i
    {
        padding-right: 1rem;
    }
    a
    {
        text-decoration: none;
    }

}