footer
{ 
    background-color: #494747;
    padding-top: 28px;
    padding-left: 31px;
    padding-bottom: 28px;
    color: white;
    @media (min-width:1200px)
    {    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 120px;
        padding-right: 120px;

    }

    h2{
        font-family: "shrikhand" , "sans-sherif";
    }
    p{
        padding: 0.2rem;
        font-size: 18px;
    }
    i
    {
        padding-right: 1rem;
    }
    a
    {
        color: white;
        text-decoration: none;
    }
}