footer
{ 
    background-color: #494747;
    padding-top: 28px;
    padding-left: 31px;
    padding-bottom: 28px;
    color: white;

    h2{
        font-family: "shrikhand" , "sans-sherif";
    }
    p{
        padding: 0.2rem;
        font-size: 18px;
    }
    i
    {
        padding-right: 1rem;
    }
    a
    {
        color: white;
        text-decoration: none;
    }
}