footer
{ 
    background-color: #494747;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    color: white;  
    h2{
        font-family: "shrikhand" , "sans-sherif";
    }
    p{
        padding: 0.2rem;
    }
    i
    {
        padding-right: 1rem;
    }
    a
    {
        color: white;
        text-decoration: none;
    }
}