@import"../utils/ombre.scss";
.header-page-one
{
   
    font-family: "Shrikhand", sans-serif;
    
    @include ombre-base;
    padding: 2px;
    position:relative;
    font-size:large;
    text-align: center;
    
}
