@import"../utils/ombre.scss";
@import"../utils/variable-couleurs.scss";

.menu
{
    a{
        text-decoration: none;
        color: black;
    }
    background-color:white;
    border-radius: 1rem 1rem;
    margin: 2rem;

    .menu__carte
    {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        /*flex-wrap: wrap;/*va a la ligne*/
        gap: 2rem;
        @media (max-width:1200px)
        {
            /*flex-direction: column;*/
            grid-template-columns:repeat(1, 1fr);
        }

        .nouveau
        {
            
            position: relative;
        }

        .nouveau::before
        {
            content: "Nouveau";
            position: absolute;
            color: darken($color: $couleur-terciaire, $amount: 50%);
            border-radius: 5px;
            background-color: $couleur-terciaire;
            width: 7rem;
            height: 3rem;
            size: 50%;
            display: grid;/*centrer horizontal et vertical*/
            place-items: center;
            right: 1rem;
            top: 1rem;
            
        }
    }   
    
    .carte
    {
        
        border-radius: 1rem;
        background-color: #f6f6f6;
        @include ombre-base;        
    } 
    & .image__carte
    {          
        height: 18rem;
        background-size: cover;
        
        border-radius: 1rem 1rem 0 0;
        /*background-image: url(../OhMyFoodImage/resto-1.jpg);*/
                
    }  
    @for $i from 1 through 4
    {
        .image__carte-#{$i}
        {
            background-image: url(../OhMyFoodImage/resto-#{$i}.jpg);
        }
    }     
    .description__image
    {
        position: relative;
        i
        {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
        .fas
        {
            color: transparent;
            background-image: linear-gradient(red,blue);
            background-clip: text;
            -webkit-background-clip: text;
        }
    }                   
}
