@import"../utils/ombre.scss";
@import"../utils/zoom.scss";
@import"../utils/variable-couleurs.scss";
@import"../utils/coeur-color.scss";

.menu
{
    background-color: $c-gris-claire;   
    padding: 2rem;
    padding-bottom: 3rem;
    h2
    {
        font-size: 30px;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }   
    a
    {
        &:hover
        {
            @include zoom-leger;
        }  
        text-decoration: none;
        color: black;
    }
    .menu__carte
    {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        background-color: $c-gris-claire;
        /*flex-wrap: wrap;/*va a la ligne*/
        gap: 2rem;
        @media (max-width:1200px)
        {
            grid-template-columns:repeat(1, 1fr);
        }
        .nouveau
        {           
            position: relative;
        }
        .nouveau::before
        {
            content: "Nouveau";
            position: absolute;
            color: darken($color: $couleur-terciaire, $amount: 50%);
            border-radius: 5px;
            background-color: $couleur-terciaire;
            width: 7rem;
            height: 3rem;
            /*size: 50%;*/
            display: grid;/*centrer horizontal et vertical*/
            place-items: center;
            right: 1rem;
            top: 1rem;           
        }
    }       
    .carte
    {       
        border-radius: 1rem;
        background-color: white;
        @include ombre-base;        
    } 
    & .image__carte
    {          
        height: 18rem;
        background-size: cover; 
        
            
        border-radius: 1rem 1rem 0rem 0rem;
        /*background-image: url(../OhMyFoodImage/resto-1.jpg);*/               
    }  
    @for $i from 1 through 4
    {
        .image__carte-#{$i}
        {
            background-image: url(./OhMyFoodImage/resto-#{$i}.jpg); 
                  
        }
    }     
    .description__image
    {   
        p
        {
            font-size: 22px;
        }
        
        margin-top: -120px;
        border-radius: 0 0 1rem 1rem;
        @media screen and (max-width:400px)
        {
            display: flex;
            justify-content: space-between;
            
        }    
        background-color: white;
        position: relative;
        
        .icone_coeur
        {
            @include coeur-color;
        }
        
    }   
    .txt-img
    {
        padding-left: 18px;
        
    }                
}
