@import"../utils/animation.scss";
@import"../utils/variable-couleurs.scss";

.page-rechargement
{
    display: grid;
    place-items: center;
    position: fixed;
    /*top: 0;
    bottom: 0;
    right: 0;
    left: 0;*/
    inset: 0;/* a la palce des 4 position value*/
    z-index: 1;/*superposition de cette page au dessus des autres*/

    background-color: white;
    opacity: 0.7;

    animation: loader 5s; /*animation de 3 secondes*/
    animation-delay: 6s;
    animation-fill-mode: forwards; /*pour que la page reste a son etat 
    transform-origin: top; /* la page disparait en haut*/
    i
    {
        color: $couleur-primaire;
    }
}