@import"../utils/variable-couleurs.scss";
@import"../utils/ombre.scss";
@import"../utils/animation.scss";


.imageprincipal img
{
    display: block;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    
}

.menu-one 
{
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0 0;

    margin-top: -3rem;
    position: relative;
    
    h2
    {
        padding-left: 2rem;
        padding-top: 2rem;
        font-family: "Shrikhand", "sans-serif";
    
    }
    i
    {
        padding-top: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        padding-right: 2rem;
        transform: translateY(-50%);
    }
    .fas
    {
        color: transparent;
        background-image: linear-gradient(45deg, #9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 250ms;
    }

    &:hover .fas
    {
        opacity: 1;
        transform: translateY(-50%) scale(1.1);
        
    }
}

.main_typemenu
{
    padding: 2rem;
    background-color: #f6f6f6;
    .carte_x9
    {
        
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        gap: 1rem;
        
        @media (max-width: 1000px)
        {
           display: flex;
           flex-direction: column;
        }
        .typemenu
        {
            .card_2
            {

                padding-left: 1rem;
                border-radius: 1rem;
                overflow: hidden;
                color: black;
                margin-bottom: 10px;
                background-color: white;
                @include ombre-base2;  
                display: flex;
                justify-content: space-between;
                
                /*justify-content: space-between;*/
                .Card_prix
                {
                    font-weight: 900;/*en gras*/
                   
                    padding: 1rem;
                    display: flex;  
                             
                    
                }
                .valide
                {
                    display: grid;
                    place-items: center;
                    
                    border-radius: 0 1rem 1rem 0;
                    width: 4rem;
                   
                    background-color: $couleur-terciaire;
                    .fas
                    {
                        background-color: white;
                        display: grid;
                        place-items: center;
                        color: $couleur-terciaire;
                        aspect-ratio: 1;
                        width: 2rem;
                        border-radius: 50%;
                    }
                }
                .lotprice-val
                {

                   
                    display: flex;
                    flex-direction: row;
                    margin-right: -4rem;
                    
                }
                &:hover .lotprice-val
                {

                    
                    margin-right: 0;
                    transition: all 1s;

                    i
                    {
                        @include tour-du-valide;/*etat du i */
                        animation: tour-du-valide 1s ease-in-out;/* appel de l animation en changeant l etat du i*/
                    }
                }
            }
        }
        
            
    }
}

