@mixin tour-du-valide
{
    @keyframes tour-du-valide
    {
        0%
        {
            transform: rotate(-270deg);
        }

        100%
        {
            transform: rotate(0);
        }
    }   
}
@keyframes animation-card
{
    0%
    {
        transform: translateY(50%);       
        opacity: 0;
        transition: all 2s;
    }
    100%
    {
        transform: translateY(0%);
        opacity: 1;
        transition: all 2s;
    }
}
@keyframes loader
{
    0%
    {
        transform: scale(1);
    }
    100% 
    {
        transform: scale(0);
    } 
}